services:
  app_proxy:
    environment:
      APP_HOST: $APP_CRYPTOICE_BTC_PROMETHEUS_NODE_IP
      APP_PORT: 80

  prometheus-node:
    image: ghcr.io/cryptoicemlh/btc-prometheus-node:v0.1.2
    restart: unless-stopped
    stop_grace_period: 15m30s
    ports:
      - "${APP_CRYPTOICE_BTC_PROMETHEUS_P2P_PORT}:${APP_CRYPTOICE_BTC_PROMETHEUS_P2P_PORT}"
      # WARNING: RPC port exposed to host. Ensure firewall blocks external access.
      - "${APP_CRYPTOICE_BTC_PROMETHEUS_RPC_PORT}:${APP_CRYPTOICE_BTC_PROMETHEUS_RPC_PORT}"
    volumes:
      - ${APP_DATA_DIR}/data:/home/prometheus/.prometheus
    networks:
      default:
        ipv4_address: $APP_CRYPTOICE_BTC_PROMETHEUS_NODE_IP
    command:
      - -printtoconsole
      - -rpcallowip=0.0.0.0/0
      - -rpcbind=0.0.0.0
      - -port=${APP_CRYPTOICE_BTC_PROMETHEUS_P2P_PORT}
      - -rpcport=${APP_CRYPTOICE_BTC_PROMETHEUS_RPC_PORT}
      - -rpcauth=${APP_CRYPTOICE_BTC_PROMETHEUS_RPC_USER}:${APP_CRYPTOICE_BTC_PROMETHEUS_RPC_PASS}
      - -zmqpubrawblock=tcp://0.0.0.0:${APP_CRYPTOICE_BTC_PROMETHEUS_ZMQ_RAWBLOCK_PORT}
      - -zmqpubrawtx=tcp://0.0.0.0:${APP_CRYPTOICE_BTC_PROMETHEUS_ZMQ_RAWTX_PORT}
      - -zmqpubhashblock=tcp://0.0.0.0:${APP_CRYPTOICE_BTC_PROMETHEUS_ZMQ_HASHBLOCK_PORT}
      - -zmqpubhashtx=tcp://0.0.0.0:${APP_CRYPTOICE_BTC_PROMETHEUS_ZMQ_HASHTX_PORT}

  ui-backend:
    image: ghcr.io/cryptoicemlh/btc-prometheus-api:v0.1.2
    restart: unless-stopped
    environment:
      - RPC_HOST=$APP_CRYPTOICE_BTC_PROMETHEUS_NODE_IP
      - RPC_PORT=${APP_CRYPTOICE_BTC_PROMETHEUS_RPC_PORT}
      - DATA_DIR=/data
      - CORS_ORIGIN=http://$APP_DOMAIN
    volumes:
      - ${APP_DATA_DIR}/data:/data
    depends_on:
      - prometheus-node

  ui-frontend:
    image: ghcr.io/cryptoicemlh/btc-prometheus-ui:v0.1.2
    restart: unless-stopped
    depends_on:
      - ui-backend

  tor-proxy:
    image: peterdavehello/tor-socks-proxy:latest@sha256:1a21ef796e1c8929d3fac4f06dabb1c4e0734fd0b733a54d5d7ef767bd0eaa85
    restart: unless-stopped
